force-app/main/default/flows/Apply_For_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_to_HR</name>
        <label>Email Alert to HR</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <actionName>Job__c.Send_email_to_Job_HR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Job__c.Send_email_to_Job_HR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Candidate_New_Job_Application</name>
        <label>Email Candidate New Job Application</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <actionName>Candidate__c.Email_Candidate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Continue_Or_Finish_Application</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Candidate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Candidate__c.Email_Candidate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Answers_from_test</name>
        <label>Answers from test</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Response1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_What_word_would_people_close_to_you_use_to_describe_you</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_What_is_a_question_people_ask_you_often</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_Who_is_your_hero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4_What_do_you_consider_your_greatest_accomplishment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X5_How_do_you_deal_with_failure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Concatenated_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Concatenated_Response</name>
        <label>Create Concatenated Response</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Responses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Personality_Test</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ContinueApplication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Continue Application</stringValue>
        </value>
    </constants>
    <constants>
        <name>FinishApplication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish Application</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Continue_Or_Finish_Application</name>
        <label>Continue Or Finish Application</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More_information_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Personality_Test</targetReference>
            </connector>
            <label>Continue Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Apply For Job {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Apply For Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate</name>
        <label>Create Candidate</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Upload_Resume</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Candidate_Email__c</field>
            <value>
                <elementReference>Candidate_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Candidate_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Hiring_Manager</name>
        <label>Get Hiring Manager</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apply_for_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HiringManager.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>HiringManager.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HiringManager.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Hiring_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputAssignments>
            <assignToReference>HiringManager.Id</assignToReference>
            <field>Hiring_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JobName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Personality_Test</name>
        <label>Add Personality Test</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Candidate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidate_Status__c</field>
            <value>
                <stringValue>Qualified Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Responses__c</field>
            <value>
                <elementReference>Response</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Application_Submitted</name>
        <label>Application Submitted</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Candidate_New_Job_Application</targetReference>
        </connector>
        <fields>
            <name>Ask_more_info</name>
            <fieldText>&lt;p&gt;Your application has been submitted successfully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>More_information_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to give us more information about yourself?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>ContinueApplication</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>FinishApplication</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Apply_for_Job</name>
        <label>Apply for Job</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Candidate</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Candidate_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Candidate_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Personality_Test</name>
        <label>Personality Test</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Answers_from_test</targetReference>
        </connector>
        <fields>
            <name>X1_What_word_would_people_close_to_you_use_to_describe_you</name>
            <dataType>String</dataType>
            <fieldText>1. What word would people close to you use to describe you?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X2_What_is_a_question_people_ask_you_often</name>
            <dataType>String</dataType>
            <fieldText>2. What is a question people ask you often?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3_Who_is_your_hero</name>
            <dataType>String</dataType>
            <fieldText>3. Who is your hero?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X4_What_do_you_consider_your_greatest_accomplishment</name>
            <fieldText>4. What do you consider your greatest accomplishment?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X5_How_do_you_deal_with_failure</name>
            <fieldText>5. How do you deal with failure?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_Message</name>
        <label>Show Error Message</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Display</name>
            <fieldText>&lt;p&gt;{!friendliererrormessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Alert_to_HR</targetReference>
        </connector>
        <fields>
            <name>thanks_display</name>
            <fieldText>&lt;p&gt;Thank you for submitting your answers!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Resume</name>
        <label>Upload Resume</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Application_Submitted</targetReference>
        </connector>
        <fields>
            <name>upload_attachement_custom</name>
            <extensionName>c:uploadAttachment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>candidateId</name>
                <value>
                    <elementReference>Create_Candidate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_template_to_HR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!HiringManager.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have a new Qualified Candidate, {!First_Name} {!Last_Name}, for a Job opening: {!JobName}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>friendliererrormessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>﻿&lt;p&gt;&lt;b&gt;Something went wrong.&lt;/b&gt;&lt;/p&gt;



&lt;/pre&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Test_Responses</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;1. What word would people close to you use to describe you?&lt;/p&gt;&lt;p&gt;{!Response1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;2. What is a question people ask you often?&lt;/p&gt;&lt;p&gt;{!Response2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;3. Who is your hero?&lt;/p&gt;&lt;p&gt;{!Response3}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;4. What do you consider your greatest accomplishment?&lt;/p&gt;&lt;p&gt;{!Response4}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;5. How do you deal with failure?&lt;/p&gt;&lt;p&gt;{!Response5}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FinishChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HiringManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
